HOST=localhost
PORT=3000
NODE_ENV=development
APP_NAME=appname
APP_URL=http://${HOST}:${PORT}
CACHE_VIEWS=false
APP_KEY=key123
DB_CONNECTION=pg
DB_HOST=127.0.0.1
DB_PORT=5432
DB_USER=user123
DB_PASSWORD=user123
DB_DATABASE=dbteste
HASH_DRIVER=bcrypt
SMTP_HOST=smtp.mailtrap.io
SMTP_PORT=2525
MAIL_USERNAME=username123
MAIL_PASSWORD=username123
