<strong>
  FYA: Recuperação de senha
</strong>

<p>
  Use o esse token: {{ token }}, para efetuar a atualização da sua senha. Caso não tenha efetuado a 
  solicitação de reset de senha, favor ignorar este email.
</p>